.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #4a7053;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ui.card {
  width: 225px;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  padding: 10px;
  background-color: #4a7053;
  border: 10px;
}

.ui.buttons, .button {
  margin: 10px;
  background-color: #4a7053;
}

.ui.segment.pushable {
  min-height:900px;
  width: 1400px;
  align-items: center;
  background-color: #4a7053;
}

.ui.inverted.vertical.labeled.icon.ui.push.left.thin.visible.sidebar.menu {
  background-color: #4a7053;

}



#root > div > div > div.pusher > div > div > div > div > div >  form > div.fields {
  margin-left: 14.5%;
}
